# .gitignore
__pycache__/
*.pyc

# Virtual environment & secrets
venv/
.env

# OS files
.DS_Store


# IDE
.vscode/
.idea/

# Sandbox contains versioned buggy code used as internal test dataset
# Required by the Refactoring Swarm architecture
# sandbox/

# LOGS : On ignore tout le dossier logs...
logs/*
# ...SAUF le fichier de données final qu'on veut récupérer
!logs/experiment_data.json