# .gitignore
__pycache__/
*.pyc

# Virtual environment & secrets
venv/
.env

# OS files
.DS_Store


# IDE
.vscode/
.idea/

# Sandbox: ignore local test files but allow hidden_dataset for evaluation
sandbox/*
!sandbox/hidden_dataset/

# LOGS : On ignore tout le dossier logs...
logs/*
# ...SAUF le fichier de données final qu'on veut récupérer
!logs/experiment_data.json