# .gitignore
__pycache__/
*.pyc

# Virtual environment & secrets
venv/
.env

# OS files
.DS_Store


# IDE
.vscode/
.idea/

# Dossier de travail temporaire (ne pas récupérer les modifications des étudiants ici)
sandbox/

# LOGS : On ignore tout le dossier logs...
logs/*
# ...SAUF le fichier de données final qu'on veut récupérer
!logs/experiment_data.json